/*
* FILE NAME: tile-game.css
* WRITTEN BY: Professor Anderson
* DATE: 3/15/20
* PURPOSE: CS204 assignment 5
*/

h1 {
    font-family: Verdana;
	padding-top: 20px;
	padding-left: 30px;
}

#directions, #board {
    display: inline-block;
    vertical-align: top;
    position: relative;
	margin: 20px;
}

#directions {
    height: 400px;
    width: 300px;
    font: 20px Verdana;
}

#directions button {
    position: absolute;
    width: 100px;
}

#up    { top: 0px; left: 100px; }

#down  { top: 200px; left: 100px; }

#left  { top: 100px; left: 0px; }

#right { top: 100px; left: 200px; }

#board {
	height: 600px;
	width: 600px;
    border: 1px solid;
}

/* give this property to all of the tile images */
#board span {
    position: absolute;
}

#a { left: 100px; top: 100px; }
#b { left: 300px; top: 100px; }
#c { left: 500px; top: 100px; }

#d { left: 100px; top: 300px; }
#e { left: 300px; top: 300px; }
#f { left: 500px; top: 300px; }

#g { left: 100px; top: 500px; }
#h { left: 300px; top: 500px; }
#blank { left: 500px; top: 500px; }

#scrambleButton {
    font: 20px Verdana;
    padding: 1ex;
    border: 1px solid blue;
    border-radius: 0.5ex;
}
